body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#editor {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

a {
  color: #00B7FF;
}
