<!DOCTYPE html>
<html lang="en" ng-app="texnote">
    <head>
        <title>TexNote</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/editor.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
<body>
    <script>
    </script>
    <div ng-controller="EditorController" id="editor-container">
        <div id="main-sidebar">
            <div id="banner">
                TeXnote
            </div>
            <hr>
            <div id="notifications" ng-hide="hideNotifications">
                <ul>
                    <li ng-repeat="notification in notifications" class="notification-type-{{notification.type}}">
                    </li>
                </ul>
            </div>

            <button id="save-button" ng-click="save()">Save</button>
            <button id="compile-button" ng-click="compile()"> Compile </button>
            <button id="download-button" ng-click="producePdf()"> Download </button>
            <ul>
                <li ng-repeat="document in documents">
                    <button ng-click="changeDoc(document)">
                        {{document}}
                    </button>
                </li>
                <li>
                    <form ng-submit="addNewFile()">
                        <input type="text" placeholder="New file..." ng-model="newFileName">
                    </form>
                </li>
            </ul>
        </div>
        <div id="editor">
        </div>
    </div>
</body>
</html>

