<!DOCTYPE html>
<html lang="en" ng-app="texnote">
    <head>
        <title>TeXnote</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxcore.js"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxangular.js"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxsplitter.js"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxbuttons.js"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxscrollbar.js"></script>
		<script type="text/javascript" src="javascripts/jqwidgets/jqxpanel.js"></script>
        <script src="/javascripts/editor.js"></script>

		<link rel="stylesheet" href="javascripts/jqwidgets/styles/jqx.base.css" type="text/css" />
		<link rel="stylesheet" href="javascripts/jqwidgets/styles/jqx.metrodark.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
<body>
    <script>
    </script>
    <div ng-controller="EditorController" id="editor-container" style="border: 0 !important;">
        <div id="main-sidebar">
            <div id="banner">
                TeXnote
            </div>
            <hr>
            <div id="notifications" ng-hide="hideNotifications">
                <ul>
                    <li ng-repeat="notification in notifications" class="notification-type-{{notification.type}}">
                    </li>
                </ul>
            </div>

            <button id="save-button" ng-click="save()">Save</button>
            <button id="compile-button" ng-click="compile()"> Compile </button>
            <button id="preview-button" ng-click="preview()"> Preview </button>
            <button id="all-button" ng-click="all()">UPDATE</button>
			<div class="slideThree">
                <label for="wordwrap">Word Wrap</label>
                <input type="checkbox" id="wordwrap"
                    ng-model="wordwrap" ng-change="changeWordwrap()" />
            </div>
            <ul>
                <li ng-repeat="document in documents">
                    <button ng-click="changeDoc(document)">
                        {{document}}
                    </button>
                </li>
                <li>
                    <form ng-submit="addNewFile()">
                        <input type="text" placeholder="New file..." ng-model="newFileName">
                    </form>
                </li>
            </ul>
        </div>
		<div>
			<div id="editor-preview">
				<div id="editor"></div>
				<div id="preview">
                    <object data="{{pdfUrl}}" type="application/pdf"
                        width="100%" height="100%">
                            <p>(no preview)</p>
                    </object>
                </div>
			</div>
		</div>
    </div>
</body>
</html>

