<!DOCTYPE html>
<html lang="en" ng-app="texnote">
    <head>
        <title>TexNote</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

    </head>
<body>
    <script>
        var texnote = angular.module('texnote',[]);
        texnote.controller('EditorController',['$scope', function($scope) {
            $scope.documents = ["testdata","moretestdata"];
            $scope.focus = null;
            $scope.user = "testuser";
            $scope.save = function() {
                $http.post("api/write",{
                    documentName: $scope.focus,
                    username: $scope.user,
                    contents: document.getElementById("editor").getValue()

                });
            };
            $scope.changeDoc = function(doc) {
                var temp= $http.get("api/read/" + $scope.user + "/" + doc);
                document.getElementById("editor").setValue(temp);
                $scope.focus=doc;
                };
            }]);
    </script>
    <div ng-controller="EditorController" id="editor-container">
        <div id="button-container">
            <button id="main-button" ng-click="save()"></button>
            <ul>
                <li ng-repeat="document in documents" ng-click="changeDoc(document)">
                {{document}}
                </li>
            </ul>
        </div>
        <div id="editor">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/latex");
        console.log("loaded");
    </script>
</body>
</html>

